

@import "~bulma"
@import "~bulma/sass/utilities/initial-variables"

// Config vars

$primary: #4C2C21
$body-background-color: #FFF4EB
$black: #10130C
$family-primary: "Gotham", "Helvetica Neue", "Helvetica", "Arial", sans-serif

body
  font-family: $family-primary !important

h3.with-border
  color: $primary
  font-size: 28px
  position: relative
  padding-bottom: 16px
  text-transform: uppercase

h3.with-border:after
  content: ""
  width: 90px
  height: 3px
  background-color: $primary
  bottom: 0
  left: 50%
  margin-left: -45px
  position: absolute

.navbar
  animation: background-color linear 3s
  text-transform: uppercase

.navbar.is-transparent
  background-color: transparent

.navbar.is-primary
  background-color: $primary

.navbar .navbar-menu
  height: 78px

.navbar .navbar-menu .navbar-item
  color: $primary-invert !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 680px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 680px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.portfolio
  width: 100vw
  padding-left: 0
  padding-right: 0

.btn
    background: none
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    border-radius: .25rem
    text-decoration: none
    color: $primary
    border: solid 1px $primary
    text-align: center
    -webkit-transition: all .15s ease
    transition: all .15s ease
    text-transform: uppercase

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/

.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor

.navbar-brand .navbar-item.logo
  padding: 0

.navbar-brand .navbar-item.logo img
  max-height: none
  width: 165px

footer.footer
  padding: 3rem 0rem 0rem
  background-color: $primary

.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    margin: .5em
    width: 32px
    height: 32px
    vertical-align: middle
    display: inline

// blog roll
.blog-list
  display: flex
  flex-wrap: wrap

.blog-list-item:nth-child(1)
  flex: 0 1 100%
.blog-list-item
  flex: 0 1 50%
.blog-list-item header
  display: flex
.blog-list-item .featured-thumbnail
  flex-basis: 100%
  margin: 0 0 0 0

// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 70%
    margin: 0 0 1em
