

@import "~bulma"
@import "~bulma/sass/utilities/initial-variables"
//@import "~bulma/sass/utilities/_all.sass";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Config vars
$body-background-color: #FFF4EB
$black: #10130C
$primary: $black

body
  font-family: 'Montserrat', sans-serif !important  

h1, h2, h3, h4, h5
  font-family: 'Montserrat', sans-serif !important
  font-weight: 600

h3.with-border
  color: $black
  font-size: 28px
  position: relative
  padding-bottom: 10px
  margin-bottom: 10px
  text-transform: uppercase

h3.with-border:after
    content: ""
    width: 90px
    height: 3px
    background-color: $primary
    bottom: 0
    left: 50%
    margin-left: -45px
    position: absolute

h3.with-border__left:after
    left: 0
    margin-left: 0

.navbar
  transition: background-color ease .3s
  text-transform: uppercase
  font-family: 'Montserrat', sans-serif !important
  font-weight: 600

.navbar.is-transparent
  background-color: transparent

.navbar.is-primary
  background-color: $primary

.navbar .navbar-menu .navbar-item
  color: $primary-invert !important
  padding:  0.5rem 1.5rem
  text-transform: uppercase
  font-size: 16px
  font-weight: normal
  height: 45px
  margin-top: 20px

.navbar .navbar-menu .navbar-item:focus,
.navbar .navbar-menu .navbar-item:hover,
.navbar .navbar-menu .navbar-item.is-active
  background-color: transparent !important

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/

.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor

.navbar-brand
  padding-top: 8px
.navbar-brand .navbar-item.logo
  padding: 0
.navbar-brand .navbar-item.logo img
  max-height: none
  width: 165px

.navbar-custom-dropdown
  height: 45px !important
  margin-top: 20px !important
  cursor: pointer
  display: flex

  &:hover .navbar-dropdown-menu
    display: block

.navbar-item-dropdown
  font-family: 'Montserrat', sans-serif !important
  color: $primary-invert !important
  text-transform: uppercase
  font-weight: normal !important
  border: 0 !important
  padding: 0.5rem 1.5rem !important
  background-color: transparent !important
  display: flex
  align-items: center

  &:after
    margin-left: 0 !important
    vertical-align: 0 !important
    border: none !important

  &:focus, &:hover, &:active
    border: 0 !important
    background-color: transparent !important
    box-shadow: none !important

.navbar-dropdown-item
  color: $primary-invert !important
  background-color: #000 !important
  width: 100%
  text-transform: uppercase !important
  font-size: 16px !important
  font-weight: normal !important
  height: 30px !important
  display: flex
  align-items: center

  &:hover
    padding-left: 2em !important
    background: #A9A9A9 !important
    transition: padding 0.5s ease

.navbar-dropdown-item a
  color: $primary-invert !important
  background-color: transparent !important
  padding:  0.5rem 1.5rem !important
  text-transform: uppercase !important
  font-size: 16px !important
  font-weight: normal !important
  height: 30px !important
  display: flex
  align-items: center

.navbar-dropdown-menu
  background-color: #000 !important
  width: 250px
  display: none
  position: absolute
  inset: 0px auto auto 0px
  margin: 0px
  transform: translate(0px, 45px)
  border-radius: 0 5px 5px 5px
  padding: 5px 0

// Tag List
.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.bs__arrow
  position: absolute
  bottom: 20px
  z-index: 1
  width: 30px
  padding: 0
  margin-left: -15px
  cursor: pointer
  background-color: transparent
  border: 0
  outline: 0
  transform: translate3d(-50%, 0, 0)
  animation: upDown 1s infinite
  transition: visibility .4s ease-in-out,opacity .4s ease-in-out

@keyframes upDown
  0%
    transform: translateY(0)
  50%
    transform: translateY(-10px)
  100%
    transform: translateY(0)


// Helper Classes
.full-width-image-container
  width: 100vw
  height: 100vh
  position: relative
  background-repeat: no-repeat
  left: 50%
  right: 50%
  margin: 0 -50vw
  background-size: contain
  display: flex
  justify-content: center
  align-items: center

.full-width-image
  width: 100vw
  height: 100vh
  background-size: contain
  background-repeat: no-repeat
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center
  position: relative

.portfolio
  width: 100vw
  padding: 40px 0

.portfolio-roll .portfolio-item
  position: relative
  overflow: hidden

.portfolio-roll .portfolio-item .portfolio-title
  //position: absolute
  //bottom: 10px
  //left: 10px

.portfolio-roll .portfolio-item .featured-thumbnail-overlay
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  background-color: rgba(0, 0, 0, 0.5)
  position: absolute
  width: 100%
  height: 100%
  left: 0
  bottom: 0
  opacity: 0
  transition: ease-in transform 0.3s, ease-in opacity 0.3s
  transform: translateY(100%)
  text-transform: uppercase
  text-align: center

.portfolio-roll .portfolio-item:hover .featured-thumbnail-overlay
  opacity: 1
  transform: translateY(0)

.testimonials
  margin-top: 15px
  width: 100%

  .carousel
    height: 100%
    .slide
      text-align: left!important
    .is-circle
      border-radius: 100%
      overflow: hidden
      width: 128px
      height: 128px
    .image
      margin-right: 20px


.btn
  background: none
  cursor: pointer
  display: inline-block
  padding: 12px 16px 10px
  font-size: 18px
  font-size: 1rem
  line-height: 1.25
  border-radius: .25rem
  text-decoration: none
  color: $primary
  border: solid 1px $primary
  text-align: center
  -webkit-transition: all .15s ease
  transition: all .15s ease
  text-transform: uppercase

.btn:hover
  background-color: $primary
  color: #fff

.margin-top-0
  margin-top: 0 !important

// Footer
footer.footer
  padding-bottom: 3rem
  background-color: $primary

  .social a
    margin: 1em .5em
    vertical-align: middle
    display: inline-block
    text-align:right

// blog roll
.blog-list
  display: flex
  flex-wrap: wrap

.blog-list-item:nth-child(1)
  flex: 0 1 100%
.blog-list-item
  flex: 0 1 50%

.blog-list-item .featured-thumbnail
  flex-basis: 100%
  position: relative
  overflow: hidden

.blog-list-item .featured-thumbnail-overlay
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  background-color: rgba(0, 0, 0, 0.5)
  position: absolute
  width: 100%
  height: 100%
  left: 0
  bottom: 0
  opacity: 0
  transition: ease-in transform 0.3s, ease-in opacity 0.3s
  transform: translateY(100%)
  text-align: center

.blog-list-item:hover .featured-thumbnail-overlay
  opacity: 1
  transform: translateY(0)

.blog-list-item .featured-thumbnail-overlay h3
  font-weight: bold!important

.blog-list-item .featured-thumbnail-overlay span
  font-weight: light!important

.blog-list-item header
  display: flex

.blog-list-item .notification
  padding: 3px
  background-color: #fff

// portfolio roll
.portfolio-list
  display: flex
  flex-wrap: wrap

.portfolio-list-item
  flex: 0 1 50%
  position: relative

.portfolio-list-item .notification
  padding: 3px
  background-color: #fff

.portfolio-list-item .featured-thumbnail
  flex-basis: 100%
  position: relative
  overflow: hidden

.portfolio-list-item .featured-thumbnail-overlay
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  background-color: rgba(0, 0, 0, 0.5)
  position: absolute
  width: 100%
  height: 100%
  left: 0
  bottom: 0
  opacity: 0
  transition: ease-in transform 0.3s, ease-in opacity 0.3s
  transform: translateY(100%)
  text-align: center

.portfolio-list-item:hover .featured-thumbnail-overlay
  opacity: 1
  transform: translateY(0)

//masonry
.my-masonry-grid
  display: flex
  margin-left: -5px
  width: auto

.my-masonry-grid_column
  padding-left: 5px
  background-clip: padding-box

  div
    > div
    /* change div to reference your elements you put in <Masonry>
    margin-bottom: 5px
    cursor: pointer

// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%

+mobile
  .navbar
    background-color: $primary
  .navbar-menu
    background-color: $primary

  .blog-list-item header
    display: block

  .portfolio-list-item
    flex: 0 1 100%


//Menu animation
.cl-effect-21 > .navbar-item, .navbar-item-dropdown
  text-shadow: none
  -webkit-transition: color 0.3s
  -moz-transition: color 0.3s
  transition: color 0.3s

  &::before, &::after
    position: absolute
    left: 0
    width: 100%
    height: 1px !important
    background: #fff
    content: ''
    opacity: 0
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s
    -moz-transition: opacity 0.3s, -moz-transform 0.3s
    transition: opacity 0.3s, transform 0.3s
    -webkit-transform: translateY(-10px)
    -moz-transform: translateY(-10px)
    transform: translateY(-10px)

  &::before
    top: 0
    -webkit-transform: translateY(-10px)
    -moz-transform: translateY(-10px)
    transform: translateY(-10px)

  &::after
    bottom: 0
    -webkit-transform: translateY(10px)
    -moz-transform: translateY(10px)
    transform: translateY(10px)

  &:hover, &:focus
    color: #fff

  &:hover::before, &:focus::before, &:hover::after, &:focus::after
    opacity: 1
    -webkit-transform: translateY(0px)
    -moz-transform: translateY(0px)
    transform: translateY(0px)

.upper 
  text-transform: uppercase

.no-padding
  padding: 0

.title
  margin-top: 60px
  margin-bottom: 60px !important

.custom-button
  button
    padding: 0 !important

.blog-post > p
  padding: 3px 0

.testimonials button::before
  border-right-color: black !important
  border-left-color: black !important

.testimonials button:first-child
  background: transparent !important

.testimonials button:last-child
  background: transparent !important

.testimonials > div
  padding: 0 30px

.is-rounded
  height: 100%

.pb-button
  display: flex
  justify-content: center
  align-items: center

.instagram 
  height: 250px

.instagram-img 
  height: 100%